*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/whisper.android.example/
/whisper.android.example/.idea/.name
/whisper.android.example/.idea/compiler.xml
/whisper.android.example/.idea/gradle.xml
/whisper.android.example/.idea/misc.xml
/whisper.android.example/.idea/vcs.xml
/whisper.android.example/app/src/androidTest/java/com/whispercppdemo/ExampleInstrumentedTest.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/media/RiffWaveHelper.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/recorder/Recorder.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/ui/main/MainScreen.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/ui/main/MainScreenViewModel.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/ui/theme/Color.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/ui/theme/Theme.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/ui/theme/Type.kt
/whisper.android.example/app/src/main/java/com/whispercppdemo/MainActivity.kt
/whisper.android.example/app/src/main/res/drawable/ic_launcher_background.xml
/whisper.android.example/app/src/main/res/drawable/ic_launcher_foreground.xml
/whisper.android.example/app/src/main/res/mipmap-anydpi/ic_launcher.xml
/whisper.android.example/app/src/main/res/values/strings.xml
/whisper.android.example/app/src/main/res/values/themes.xml
/whisper.android.example/app/src/main/res/xml/backup_rules.xml
/whisper.android.example/app/src/main/res/xml/data_extraction_rules.xml
/whisper.android.example/app/src/main/AndroidManifest.xml
/whisper.android.example/app/src/test/java/com/whispercppdemo/ExampleUnitTest.kt
/whisper.android.example/app/.gitignore
/whisper.android.example/app/build.gradle
/whisper.android.example/lib/src/main/java/com/whispercpp/whisper/LibWhisper.kt
/whisper.android.example/lib/src/main/java/com/whispercpp/whisper/WhisperCpuConfig.kt
/whisper.android.example/lib/src/main/jni/whisper/CMakeLists.txt
/whisper.android.example/lib/src/main/jni/whisper/jni.c
/whisper.android.example/lib/src/main/AndroidManifest.xml
/whisper.android.example/lib/.gitignore
/whisper.android.example/lib/build.gradle
/whisper.android.example/README.md
